<span> 
    <a class="btn btn-primary anlegen" routerLink="/kursliste/neu"><i class="fas fa-plus"></i> Neuen Kurs anlegen</a>
    </span>
    <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Kursbezeichnung</th>
                <th scope="col">Studiengangsleiter</th>
                <th scope="col">Bearbeiten</th>
                <th scope="col">Löschen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let kurs of kurse">
                <td>{{ kurs.kursbezeichnung }}</td>
                <td>{{ kurs.studleiter.titel }} {{ kurs.studleiter.vorname }} {{ kurs.studleiter.nachname }}</td>
                <td><button class="btn btn-secondary" ><i class="fas fa-user-edit"></i></button></td>
                <td><button class="btn btn-danger" (click)="deleteKurs(kurs)"><i class="fas fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>