<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="kursbezeichnung">Kursbezeichnung</label>
                <input type="text"  [(ngModel)]="kurs.kursbezeichnung" class="form-control"
                    id="kursbezeichnung" name="kursbezeichnung" placeholder="Kursbezeichnung"  #kursbezeichnung="ngModel">
            </div>
            <div class="form-group">
                <label for="studleiter">Studiengangsleiter</label>
                <select type="text" [(ngModel)]="kurs.studleiter" class="form-control" 
                id="studleiter" name="studleiter" required #studleiter="ngModel">
                    <option *ngFor="let user of users"  value="{{ user.id }}"> {{ user.titel }} {{ user.vorname }} {{ user.nachname }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>  {{"GENERAL.ADD" | translate}}</button>
            <a style="margin-left: 20px;" class="btn btn-secondary" routerLink="/kursliste"><i class="fas fa-times"></i>  {{"GENERAL.CANCEL" | translate}}</a>
        </form>
    </div>
</div>
