@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.alert-danger{
    background-color: rgb(250 ,0 ,0, 0.7);
  }
.custom-heading{
  text-align: center;
  margin-top: 20px;
}
label{
  font-weight: bold;
}