<h1 class="custom-heading">Dozenten</h1>
<span> 
<a class="btn btn-primary anlegen" routerLink="/dozentenliste/neu"><i class="fas fa-plus"></i>   Neuen Dozent anlegen</a>
</span>
<div class="card my-3">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Titel</th>
            <th scope="col">Nachname</th>
            <th scope="col">Vorname</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Handynummer</th>
            <th scope="col">Löschen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.titel }}</td>
            <td>{{ user.nachname }}</td>
            <td>{{ user.vorname }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.handynr }}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(user);"><i class="fas fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  