<button (click)="ausgabe()">ausgabe</button>
<div class="card my-5">
    <div class="card-body">
        <div class="month"><h2>{{ selectedMonth }} {{this.selectedDate.getFullYear()}}</h2></div>
        <span> <button (click)="prevMonth()" class="btn btn-primary" href="" style="margin-bottom: 10px;"><i class="fas fa-chevron-left"></i>  Zurück</button>
            
            <button (click)="nextMonth()" class="btn btn-primary" style="float: right; margin-bottom: 10px;" href="">Vor  <i class="fas fa-chevron-right"></i></button>
        </span>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mo</th>
                    <th>Di</th>
                    <th>Mi</th>
                    <th>Do</th>
                    <th>Fr</th>
                    <th>Sa</th>
                    <th>So</th>
                </tr>
            </thead>
            <tr>
                <td id="k1"><div id="d1"></div><div id="e1"></div></td>
                <td id="k2"><div id="d2"></div><div id="e2"></div></td>
                <td id="k3"><div id="d3"></div><div id="e3"></div></td>
                <td id="k4"><div id="d4"></div><div id="e4"></div></td>
                <td id="k5"><div id="d5"></div><div id="e5"></div></td>
                <td id="k6"><div id="d6"></div><div id="e6"></div></td>
                <td id="k7"><div id="d7"></div><div id="e7"></div></td>
            </tr>
            <tr>
                <td id="k8"><div id="d8"></div><div id="e8"></div></td>
                <td id="k9"><div id="d9"></div><div id="e9"></div></td>
                <td id="k10"><div id="d10"></div><div id="e10"></div></td>
                <td id="k11"><div id="d11"></div><div id="e11"></div></td>
                <td id="k12"><div id="d12"></div><div id="e12"></div></td>
                <td id="k13"><div id="d13"></div><div id="e13"></div></td>
                <td id="k14"><div id="d14"></div><div id="e14"></div></td>
            </tr>
            <tr>
                <td id="k15"><div id="d15"></div><div id="e15"></div></td>
                <td id="k16"><div id="d16"></div><div id="e16"></div></td>
                <td id="k17"><div id="d17"></div><div id="e17"></div></td>
                <td id="k18"><div id="d18"></div><div id="e18"></div></td>
                <td id="k19"><div id="d19"></div><div id="e19"></div></td>
                <td id="k20"><div id="d20"></div><div id="e20"></div></td>
                <td id="k21"><div id="d21"></div><div id="e21"></div></td>
            </tr>
            <tr>
                <td id="k22"><div id="d22"></div><div id="e22"></div></td>
                <td id="k23"><div id="d23"></div><div id="e23"></div></td>
                <td id="k24"><div id="d24"></div><div id="e24"></div></td>
                <td id="k25"><div id="d25"></div><div id="e25"></div></td>
                <td id="k26"><div id="d26"></div><div id="e26"></div></td>
                <td id="k27"><div id="d27"></div><div id="e27"></div></td>
                <td id="k28"><div id="d28"></div><div id="e28"></div></td>
            </tr>
            <tr>
                <td id="k29"><div id="d29"></div><div id="e29"></div></td>
                <td id="k30"><div id="d30"></div><div id="e30"></div></td>
                <td id="k31"><div id="d31"></div><div id="e31"></div></td>
                <td id="k32"><div id="d32"></div><div id="e32"></div></td>
                <td id="k33"><div id="d33"></div><div id="e33"></div></td>
                <td id="k34"><div id="d34"></div><div id="e34"></div></td>
                <td id="k35"><div id="d35"></div><div id="e35"></div></td>
            </tr>
            <tr>
                <td id="k36"><div id="d36"></div><div id="e36"></div></td>
                <td id="k37"><div id="d37"></div><div id="e37"></div></td>
                <td id="k38"><div id="d38"></div><div id="e38"></div></td>
                <td id="k39"><div id="d39"></div><div id="e39"></div></td>
                <td id="k40"><div id="d40"></div><div id="e40"></div></td>
                <td id="k42"><div id="d41"></div><div id="e41"></div></td>
                <td id="k43"><div id="d42"></div><div id="e42"></div></td>
            </tr>
        </table>
    </div>
</div>