<div class="card my-5">
    <div class="card-body">
        <div class="month"><h2>{{ selectedMonth }} {{this.selectedDate.getFullYear()}}</h2></div>
        <span> <button (click)="prevMonth()" class="btn btn-primary" href="" style="margin-bottom: 10px;"><i class="fas fa-chevron-left"></i>  Zurück</button>
            
            <button (click)="nextMonth()" class="btn btn-primary" style="float: right; margin-bottom: 10px;" href="">Vor  <i class="fas fa-chevron-right"></i></button>
        </span>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mo</th>
                    <th>Di</th>
                    <th>Mi</th>
                    <th>Do</th>
                    <th>Fr</th>
                    <th>Sa</th>
                    <th>So</th>
                </tr>
            </thead>
            <tr>
                <td id="k1"></td>
                <td id="k2"></td>
                <td id="k3"></td>
                <td id="k4"></td>
                <td id="k5"></td>
                <td id="k6"></td>
                <td id="k7"></td>
            </tr>
            <tr>
                <td id="k8"></td>
                <td id="k9"></td>
                <td id="k10"></td>
                <td id="k11"></td>
                <td id="k12"></td>
                <td id="k13"></td>
                <td id="k14"></td>
            </tr>
            <tr>
                <td id="k15"></td>
                <td id="k16"></td>
                <td id="k17"></td>
                <td id="k18"></td>
                <td id="k19"></td>
                <td id="k20"></td>
                <td id="k21"></td>
            </tr>
            <tr>
                <td id="k22"></td>
                <td id="k23"></td>
                <td id="k24"></td>
                <td id="k25"></td>
                <td id="k26"></td>
                <td id="k27"></td>
                <td id="k28"></td>
            </tr>
            <tr>
                <td id="k29"></td>
                <td id="k30"></td>
                <td id="k31"></td>
                <td id="k32"></td>
                <td id="k33"></td>
                <td id="k34"></td>
                <td id="k35"></td>
            </tr>
            <tr>
                <td id="k36"></td>
                <td id="k37"></td>
                <td id="k38"></td>
                <td id="k39"></td>
                <td id="k40"></td>
                <td id="k42"></td>
                <td id="k43"></td>
            </tr>
        </table>
    </div>
</div>