<h1 class="custom-heading">Vorlesungstermin planen</h1>
<div class="card my-4">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #vorlesungsForm="ngForm">
            <div class="form-group">
                <label for="veranstaltung">Veranstaltung</label>
                <select type="text" [(ngModel)]="vorlesungstermin.veranstaltungsId" class="form-control" id="veranstaltungsId"
                    name="veranstaltungsId" required #veranstaltungsId="ngModel">
                    <option *ngFor="let veranstaltung of veranstaltungen" value="{{veranstaltung.id}}">
                        {{veranstaltung.bezeichnung}} {{veranstaltung.kurs.kursbezeichnung}}
                        {{veranstaltung.dozent.titel}} {{veranstaltung.dozent.vorname}}
                        {{veranstaltung.dozent.nachname}}
                        
                    </option>
                </select>
            </div>
            <div *ngIf="veranstaltungsId.touched && veranstaltungsId.invalid" class="alert alert-danger">Bitte wählen Sie eine Veranstaltung aus.</div>
            <div class="form-group">
                <label for="datum">Datum</label> <br>
                <input type="date" [(ngModel)]="vorlesungstermin.datum" id="datum" name="datum" required #datum="ngModel">
            </div>
            <div>
                Uhrzeit <br>
                <span class="form-group">
                    <label for="anfangszeit"></label>
                    <input  type="time" [(ngModel)]="vorlesungstermin.anfangszeit" id="anfangszeit" name="anfangszeit" required #anfangszeit="ngModel">

                </span>
                
                <span class="form-group" style="margin-left: 20px;">
                    <label for="endezeit">   bis   </label>
                    <input type="time" style="margin-left: 20px;" [(ngModel)]="vorlesungstermin.endezeit" id="endezeit" name="endezeit" required #endezeit="ngModel">

                </span>
            </div>
            <div *ngIf="anfangszeit.touched && anfangszeit.invalid || endezeit.touched && endezeit.invalid" class="alert alert-danger">Bitte geben Sie die Zeit an.</div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="vorlesungsForm.form.invalid"><i class="fas fa-check"></i>
                Anlegen</button>
            <a style="margin-left: 20px;" class="btn btn-secondary" routerLink="/kalender"><i class="fas fa-times"></i>
                Abbrechen</a>
        </form>
    </div>
</div>