<div class="card" style="width: 20rem; margin-top: 20vh;">
    <div class="card-body">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" [(ngModel)]="loginUser.email" class="form-control" id="email" name="email" required
                    #email="ngModel">
            </div>
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">E-Mail wird benötigt</div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" [(ngModel)]="loginUser.passwort" class="form-control" id="password" name="password"
                    required #password="ngModel">
            </div>
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Passwort wird benötigt</div>
            <div *ngIf="falscherLogin" class="alert alert-danger">E-Mail oder Passwort nicht korrekt!</div>
            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">
                Anmelden</button>

        </form>
    </div>
</div>